body {
  background-color: #f0f0f0;
  font-family: "Almarai", "sans-serif";
}

#btnlogout {
  color: white;
  background-color: tomato;
  outline: none;
  border: none;
  display: none;
  cursor: pointer;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 202px;
  background-color: #fff;
  position: fixed;
  right: 0%;
  height: 100%;
  border-left: 3px solid #3291c1;
  flex-direction: column;
  align-items: center;
  display: flex;
  /*padding-top: 20px;*/
  z-index: 1;
}

.sidebar a {
  display: flex;
  color: black;
  padding: 8%;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10%;
  border-radius: 10px;
  background-color: #ffffff;
}

.sidebar a.active {
  background-color: #3291c1;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #3291c1;
  color: #fff;
}

.content {
  position: absolute;
  top: 0%;
  width: 100%;
  padding-right: 202px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 769px) {
  .listImg {
    width: 25%;
  }

  #settings {
    position: absolute;
    bottom: 0%;
  }
  .sidebar a {
    display: flex;
    color: black;
    padding: 8%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10%;
    width: 90%;
    height: 9%;
    min-height: 50px;
    max-height: 80px;
    margin-bottom: 5%;
    background-color: #ffffff;
  }
  .listImg {
    width: 20%;
  }
  .sidebar {
    margin: 0;
    padding: 0;
    width: 202px;
    background-color: #fff;
    position: fixed;
    right: 0%;
    height: 100%;
    border-left: 3px solid #3291c1;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 20px;
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    top: 0px;
    padding-right: 0px;
    padding-top: 80px;
    width: 100%;
  }
  .sidebar {
    height: 67px;
    flex-direction: row;
    width: 100%;
    padding-top: 0px;
    justify-content: space-evenly;
    border-left: none;
    border-bottom: 3px solid #3291c1;
    position: fixed;
  }
  .sidebar a {
    width: 20%;
    padding-bottom: 0px;
    padding: 10px;
    top: 0px;
    right: 0%;
    height: 75%;
  }
  .listImg {
    width: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .listImg {
    display: none;
  }
  .sidebar a {
    justify-content: center;
    text-align: center;
  }
  .content {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .content {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 20%;
    min-width: 500px;
  }
}

* #logout {
  color: rgb(255, 72, 40);
  font-weight: bold;
  cursor: pointer;
}
#logoutIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#loggedOut-div {
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  font-size: 20pt;
  position: relative;
  display: none;
}
#loggedOut-div h3 {
  margin-bottom: 50px;
}

#signupLink {
  background-color: #236e94;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px;
  margin-top: 15px;
  text-decoration: none;
}
#loginLink {
  color: #236e94;
  padding: 5px;
  text-decoration: none;
}

#signupLink:hover {
  background-color: #1a5470;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px;
  margin-top: 15px;
  text-decoration: none;
}
#loginLink:hover {
  color: #1a5470;
  padding: 5px;
  text-decoration: none;
}

.modalContainer {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modalContainer.show {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: auto;
  opacity: 1;
}
.imgModal.show {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: auto;
  opacity: 1;
}

#modal {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 400px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
  color: #3291c1;
  text-align: center;
  border-radius: 15px;
  max-height: 600px;
  overflow-y: auto;
}
.imgModal {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
  color: #3291c1;
  text-align: center;
  border-radius: 15px;
  max-height: 530px;
  overflow-y: auto;
  opacity: 0;
  width: 0px;
  height: 0px;
  transition: opacity 0.3s ease;
}

.buttonsCo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
}

#savebtn {
  margin-left: 15px;
  background-color: #3291c1;
  color: #fff;
  border: 2px solid #236e94;
  outline: none;
  transition: 0.3s ease;
}
#savebtn:hover,
#saveimgbtn:hover {
  margin-left: 15px;
  background-color: #236e94;
  color: #fff;
  border: 2px solid #236e94;
  outline: none;
}
#closebtn,
#closeimgbtn {
  background-color: #cfcfcf;
  color: #000;
  border: 2px solid #bdbdbd;
  outline: none;
}
.btnPrimary,
.btnSecondery {
  padding-inline: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

#modal h2 {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 10px;
}

#txtinputCo {
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
  text-align: right;
}
#txtinputCo p {
  position: absolute;
  right: 20px;
}

#checkCo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
#checkCo div {
  background-color: #bdbdbd;
  padding: 15px;
  margin: 3px;
}

#checkCo p {
  right: 20px;
  position: absolute;
  top: 135px;
}

.alert {
  position: absolute;
  opacity: 0%;
  background: #f75858;
  padding: 20px 40px;
  min-width: 420px;
  top: 10px;
  left: 0px;
  border-radius: 4px;
  border-right: 8px solid #cf0000;
  color: #fff;
}
.succes {
  position: absolute;
  opacity: 0%;
  background: #92db88;
  padding: 20px 40px;
  min-width: 420px;
  top: 10px;
  left: 0px;
  border-radius: 4px;
  border-right: 8px solid #047726;
}

.alert .fa-exclamation-circle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}
.succes .fas-fa-check-circle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #047726;
  font-size: 30px;
}

.alert .msg {
  padding: 0 20px;
  font-size: 18px;
  color: #ffffff;
}
.succes .msg {
  padding: 0 20px;
  font-size: 18px;
  color: #047726;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}
.alert.hide {
  animation: hide_slide 1s ease forwards;
}
.succes.show {
  animation: show_slide 1s ease forwards;
}
.succes.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(-100%);
  }
  40% {
    opacity: 100%;
    transform: translateX(10%);
  }
  80% {
    opacity: 100%;
    transform: translateX(0%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}
@keyframes hide_slide {
  0% {
    opacity: 100%;
    transform: translateX(0%);
  }
  20% {
    opacity: 100%;
    transform: translateX(15%);
  }
  100% {
    opacity: 0%;
    transform: translateX(-200%);
    display: none;
  }
}

#changeImageButton {
  background-color: #3291c1;
  color: #fff;
  padding: 10px;
  width: 60%;
  left: 50%;
  transform: translateX(35%);
  margin-bottom: 20px;
  border-radius: 25px;
  cursor: pointer;
}

.wrapper {
  position: relative;
  border: 3px dashed;
  height: 300px;
  overflow-y: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  overflow-x: auto;
  max-width: 100%;
  min-width: 1%;
}

.wrapper.active {
  border: none;
}

.wrapper .image {
  object-fit: cover;
  width: 200px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.wrapper .image img {
  clip-path: circle(45% at 50% 50%);
  width: 300px;
  max-height: 300px;
}

.wrapper .uploudIcon {
  font-size: 100px;
}
.wrapper .uploudText {
  font-size: 20px;
  font-weight: 500;
}

.file-name {
  bottom: 160px;
  padding: 5px 0px;
  max-width: 380px;
  overflow-x: auto;
  margin-bottom: 50px;
}

.wrapper.active:hover .file-name {
  display: block;
}

.modalContent {
  position: absolute;
  top: 60px;
}

#custom-btn {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  display: block;
  border: none;
  background: linear-gradient(135deg, #56c0f5 0%, #236e94 100%);
  border-radius: 25px;
  font-size: 18x;
  cursor: pointer;
  color: #fff;
  outline: none;
  font-weight: 700;
}

#loggedinDiv {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20pt;
  width: 1000px;
  min-width: 50px;
}

.PrimaryContainer {
  display: block;
  background-color: #fefefe;
  border: 1px solid #000;
  border-radius: 10px;
  border: 3px solid #3291c1;
  margin: 7px;
  box-shadow: 7px 15px 15px 7px rgba(0, 0, 0, 0.1);
  height: 200px;
}

#reading {
  max-width: 400px;
  min-width: 350px;
}

#suggestions {
  max-width: 600px;
  min-width: 400px;
  flex-shrink: 1;
}

#readLater {
  max-width: 300px;
  min-width: 250px;
}
